version: "3.8"

services:
  app:
    container_name: tmd_n-app
    build: .
    restart: always
    ports:
      - "1040:3005"   # ✅ host:3005 -> container:3005
    env_file:
      - .env
    networks:
      - my-network

networks:
  my-network:
    external: true    # ✅ ใช้ network เดิมร่วมกัน
