
services:
  app:
    container_name: tmd_project-app
    image: tmd_project-web
    build: .
    restart: always
    ports:
      - "3005:8080"   # ✅ host:container (3005:8080)
    env_file:
      - .env
    networks:
      - my-network

networks:
  my-network:
    external: true    # ✅ ใช้ network เดิมร่วมกัน
