version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tmd_test2
    restart: unless-stopped
    ports:
      - "3005:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - tmd-network

networks:
  tmd-network:
    driver: bridge
