
services:
  tmd_web:
    image: tmd_project-web
    build: .
    restart: always
    ports:
      - "3005:8080"   # ✅ ให้ตรงกับที่ container ฟังจริง
    env_file:
      - .env
    networks:
      - my-network

networks:
  my-network:
    external: true    # ✅ ใช้ network เดิมร่วมกัน
